.container{
   background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 30px;
  margin: auto;
  padding-top: 10px;
}

.skill-icon img{
  height: 100px;
  width: 100x;
  object-fit: contain;
  background: black;
  box-shadow: none;
}

.skill-icon{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  background-color: black;
}


.container h1{
  font-size: 35px;
}